<!DOCTYPE html>
<html lang="en" data-ng-app="coffee-genius">
<head>
	<meta charset="utf-8" />

	<title>Coffee Genius | A coffee brewing companion app</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- Descriptive MetaData -->
	<meta name="description" content="A coffee brewing companion app" />
	<meta name="keywords" content="coffee" />

	<!-- Mobile -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta name="format-detection" content="telephone=yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<!-- Favicon -->
	<link type="image/png" rel="icon" href="img/favicon.ico" />

	<!-- Styles -->
	<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="coffee-genius" data-ng-controller="MainCtrl">
	<div class="jumbotron">
		<div class="container">
			<h1>
				<img class="coffee-icon hidden-xs" src="img/coffee_cup_icon.png" />
				Coffee Genius
			</h1>
			<p>A coffee brewing companion</p>

			<div class="row">
				<div class="col-sm-4">
					<label>
						How much coffee do you want?
					</label>
				</div>
				<div class="col-sm-7">
					<input class="amount-slider" type="range"
						step="{{coffeeAmountConfig.increments}}"
						min="{{coffeeAmountConfig.min}}"
						max="{{coffeeAmountConfig.max}}"
						data-ng-model="coffeeAmount"
						data-ng-change="onAmountChange($event)" />
				</div>
				<div class="col-sm-1">
					<div class="amount-label">{{coffeeAmount}}g</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label class="roast-label">
						What type of roast?
					</label>
				</div>
				<div class="col-sm-8">
					<div class="text-danger" data-ng-show="roastsError">
						{{roastsError}}
					</div>
					<select class="form-control input"
						data-ng-options="roast for roast in roasts"
						data-ng-model="selectedRoast"
						data-ng-hide="roastsError">
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="container error-msg" data-ng-show="roastDetailsError">
		{{roastDetailsError}}
	</div>
	<div class="container" data-ng-if="roastDetails">
		<div class="brewing-guide">
			<h5 class="guide-header">Brewing Guide</h5>
			<div class="row">
				<h3 class="roast-name col-sm-12">
					{{selectedRoast}} Roast
				</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h4>Recommended Ratio</h4>
					<div>{{roastDetails.ratio}}</div>
				</div>
				<div class="col-sm-4">
					<h4>Coffee Beans Weight</h4>
					<div>{{roastDetails.beanAmount}}</div>
				</div>
				<div class="col-sm-4">
					<h4>Brew Time</h4>
					<div>{{roastDetails.brewTime}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<!-- Angular -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script type="text/javascript" src="js/libs.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
