// Import Bootstrap

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


// App Styles

.coffee-genius {
	.brewing-guide {
		@include clearfix();

		border: 1px solid $gray-light;
		margin: 10px;
		padding: 5px 15px 25px;

		.guide-header {
			position: relative;
			top: -15px;
			left: 25px;
			background: #fff;
			padding: 0 20px;
			display: inline;
		}

		.roast-name {
			margin-top: 0;
			text-transform: capitalize;
		}
	}

	.error-msg {
		@extend .bg-danger;

		color: $brand-danger;
		padding: 10px 20px;
	}

	.jumbotron {
		.amount-label {
			margin-top: 3px;
		}

		.amount-slider {
			margin-top: 7px;
		}

		.coffee-icon {
			height: 75px;
			position: relative;
			top: -12px;
			width: auto;
		}

		.row + .row { margin-top: 20px; }

		.roast-label {
			margin-top: 6px;
		}
	}
}

